@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 10%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 10%;
    --accent: 0 72.2% 50.6%;
    --accent-foreground: 0 0% 100%;
    --muted: 0 0% 94%;
    --muted-foreground: 0 0% 45%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
    --border: 0 0% 90%;
    --input: 0 0% 96%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
  html {
    scroll-behavior: smooth;
  }
}

html.lenis, html.lenis body { height: auto; }
.lenis.lenis-smooth { scroll-behavior: auto !important; }
